<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= title %> </h1>
    <div>
        <span> id는 <%= userInfo.id %> 님</span>
        <p>비밀번호는 <%= userInfo.pw %> 네요</p>
        <p>이메일은 <%= userInfo.email %></p>
        <p>학년은 <%= userInfo.grade2 %>년!!</p>
    </div>
</body>
</html>